@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans"), local("PTSans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("PTSans-Bold"), local("PT Sans Bold"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  line-height: 25px;
  color: #686868;
  background-color: #ffffff;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 20px;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .page__container {
    margin: auto;
  }
}
@media (min-width: 1000px) {
  .page__container {
    width: 760px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}
.main-header {
  position: relative;
}
.main-header__bookmark {
  width: 40px;
  height: 45px;
  background-image: url("../../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: -2px;
  z-index: 2;
}
.button {
  background-color: inherit;
  font-family: inherit;
  border: none;
}
.button:active {
  outline: none;
}
.button__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  background-image: url("../../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
  z-index: 2;
  outline: none;
}
.button__close:active {
  outline: none;
  opacity: 0.5;
}
.button__close:active:focus {
  outline: none;
  opacity: 0.5;
}
.button__close:hover {
  opacity: 0.3;
}
.tasks {
  position: relative;
  background-color: white;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.tasks__title {
  position: relative;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}
.tasks__title::after {
  content: "";
  position: absolute;
  background-color: #686868;
  height: 1px;
  width: 94%;
  top: 50px;
  left: 10px;
}
@media (min-width: 768px) {
  .tasks__title::after {
    left: 40px;
    width: 92%;
  }
}
.tasks__wrapper {
  margin: auto;
}
.tasks__list {
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 20px;
}
.tasks__item {
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  cursor: move;
  background-color: none;
}
.tasks__controls-wrapper {
  background-color: inherit;
  position: relative;
  margin-top: 40px;
}
.tasks__controls-wrapper::after {
  content: "";
  position: absolute;
  background-color: #686868;
  height: 1px;
  width: 88%;
  bottom: 40px;
  left: 20px;
  top: -10px;
}
@media (min-width: 768px) {
  .tasks__controls-wrapper::after {
    margin: auto;
    left: 40px;
    width: 90%;
  }
}
.tasks__controls-wrapper .button {
  position: relative;
  color: #686868;
  background-color: inherit;
  border: none;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 15px;
}
.tasks__controls-wrapper .button:active {
  outline: none;
  color: #e8e8e8;
}
.tasks__controls-wrapper .button:hover {
  outline: none;
}
.tasks__controls-wrapper .button:hover.button::after {
  background-color: #e8e8e8;
}
.tasks__controls-wrapper .button:focus {
  outline: none;
}
.tasks__controls-wrapper button:active {
  outline: none;
}
.tasks__controls-wrapper .button::after {
  content: "";
  position: absolute;
  background-color: #686868;
  height: 1px;
  width: 95%;
  bottom: 0;
  left: 3px;
}
.item__number {
  position: relative;
  font-size: 15px;
  color: #f6f6f6;
  font-weight: bold;
  z-index: 2;
}
.item__number::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #0077b3;
  width: 30px;
  height: 30px;
  left: -10px;
  z-index: -1;
}
@media (min-width: 768px) {
  .item__number {
    margin: auto;
  }
}
.item__input {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  margin-left: 30px;
  border: none;
  outline: none;
  border-bottom: 1px dotted #686868;
}
@media (min-width: 768px) {
  .item__input {
    width: 300px;
  }
}
.item__delete {
  background-color: inherit;
  height: 20px;
  width: 20px;
  border: none;
}
.item__delete:active {
  outline: none;
}
.item__delete:active:focus {
  outline: none;
}
.item__delete svg {
  fill: #c5c5c5;
}
.item__delete svg:focus {
  fill: #686868;
}
.item__delete svg:hover {
  fill: #686868;
}
.item__finish {
  background-image: url("../../img/icon-done.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 5px 8px;
}
.help {
  display: none;
  position: absolute;
  padding: 0;
  font-family: inherit;
  font-size: 15px;
  background-color: white;
  z-index: 3;
  height: 80%;
  width: 100%;
}
@media (min-width: 1000px) {
  .help {
    width: 760px;
  }
}
.help__wrapper {
  height: 100%;
  position: relative;
  outline: #696923 2px solid;
}
.help__title {
  padding: 0 19px;
  margin-top: 40px;
}
.help__activate-button {
  border: none;
  background-color: inherit;
  background-image: url("../../img/ask-question.png");
  fill: #686868;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}
.help__activate-button:hover {
  opacity: 0.3;
}
.help__activate-button:focus {
  opacity: 0.3;
}
.slider {
  position: relative;
}
.slider__list {
  list-style: none;
  padding: 0;
  position: relative;
}
.slide {
  list-style: none;
  margin-bottom: 40px;
  position: absolute;
  display: none;
}
.slide__current {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  width: 100%;
}
@media (min-width: 768px) {
  .slide__current {
    padding: 0;
  }
}
.slide__text {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .slide__text {
    padding: 0 200px;
  }
}
.slider__controls {
  position: relative;
}
.slider__controls-arrows {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  top: 75px;
  padding: 0 5px;
  justify-content: space-between;
}
.slider__controls-arrows--previous {
  width: 22px;
  height: 30px;
  padding: 0;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../img/icon-previous-arrow.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.slider__controls-arrows--previous:active {
  outline: none;
  opacity: 0.5;
}
.slider__controls-arrows--previous:hover {
  opacity: 0.3;
}
.slider__controls-arrows--previous:focus {
  opacity: 0.3;
}
.slider__controls-arrows--next {
  width: 22px;
  height: 30px;
  padding: 0;
  right: 0;
  background-image: url("../../img/icon-next-arrow.svg");
  background-color: transparent;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.slider__controls-arrows--next:active {
  outline: none;
  opacity: 0.5;
}
.slider__controls-arrows--next:hover {
  opacity: 0.3;
}
.slider__controls-arrows--next:focus {
  opacity: 0.3;
}
.slider__controls-dots {
  position: absolute;
  width: 100%;
  bottom: -160px;
}
.slider__controls-dots .dot {
  padding: 0;
  background-color: inherit;
  border: 2px solid #686868;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.slider__controls-dots .dot:active {
  outline: none;
}
.slider__controls-dots .dot__current {
  background-color: #686868;
  outline: none;
}
.footer {
  margin: 0;
  margin-top: 30px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-items: center;
  justify-content: center;
}
.footer__item {
  padding-right: 20px;
}
.footer__item a {
  color: #686868;
  border: none;
  font-size: 15px;
}
.footer__github-link {
  background-color: inherit;
  background-image: url("../../img/icon-github-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  opacity: 0.6;
  cursor: pointer;
}
.footer__github-link:hover {
  opacity: 0.3;
}
.footer__github-link:focus {
  opacity: 0.3;
}
.footer__github-link a {
  width: 100%;
  color: white;
}

/*# sourceMappingURL=style.css.map */
